@import "./modules/variables";

.add_menu_drawer {
  :global(.ant-form) {
    margin-top: 1.2rem;
  }
  :global(.ant-upload) {
    height: auto !important;
    border: none !important;
    background-color: transparent !important;
  }
}
