@import "./modules/variables";

.add_menu_drawer {
  :global(.ant-form) {
    margin-top: 1.2rem;
  }
  :global(.ant-upload) {
    height: auto !important;
    border: none !important;
    background-color: transparent !important;
  }

  :global(
      .ant-upload-wrapper.ant-upload-picture-card-wrapper
        .ant-upload-list.ant-upload-list-picture-card
        .ant-upload-list-item-container
    ) {
    height: auto;
  }
  :global(.ant-upload-list-item .anticon-delete) {
    display: none;
  }
  :global(.ant-upload-list-item .ant-upload-list-item-done) {
    padding: 0;
  }
  :global(.ant-drawer .ant-image) {
    background-color: lightgray;
  }
}
