@import "./modules/variables";
@import "./modules/mixin";

.dashboard {
  padding: 2rem 2rem 6rem 2rem;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  :global(.ant-card) {
    background-color: rgba(245, 245, 245, 0.485);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),
      0 1px 6px -1px rgba(0, 0, 0, 0.129), 0 2px 4px 0 rgba(149, 145, 145, 0.38);

    @include tablet {
      height: 100%;
    }
  }
  :global(.ant-statistic-title) {
    color: $dark-purple;
    font-weight: 600;
  }
  .staticContainer {
    height: 70vh;
    overflow: hidden;

    @include tablet {
      height: 100%;
    }
  }
}
