@import "./modules/variables";
@import "./modules/mixin";

.main_container {
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
  background: white;
  height: 100vh;
  :global(.ant-layout-header) {
    color: $dark-purple;
    background-color: #fff;
    padding: 0 1rem;
    border-bottom: 1px solid $gray;
    margin-bottom: 0.2rem;
  }
  :global(.ant-layout-sider) {
    background: #fff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 0;
    border-right: 0.2px solid $gray;
    @include tablet {
      display: none;
    }
  }
  :global(.ant-layout-content) {
    height: calc(100vh - 74px);
    // height: 100%;
    // overflow-y: scroll;
    background: #fff;
    &::-webkit-scrollbar {
      appearance: none;
    }
  }
  :global(.ant-layout-footer) {
    padding: 0;
    background: #fff;
    display: none;
    @include tablet {
      display: block;
      border-top: 1px solid $gray;
    }
  }
}
