@import "./modules/variables";
@import "./modules/mixin";

.siderbar {
  :global(.ant-layout-sider-children) {
    padding: 1rem 0rem;
  }
  :global(.ant-menu-light.ant-menu-root.ant-menu-inline) {
    border-inline-end: none;
  }
  :global(.ant-menu-item .ant-menu-item-icon) {
    font-size: 1.4rem;
  }
  :global(.ant-menu-item) {
    color: $purple;
    margin-bottom: 0.7rem;
  }
  :global(.ant-menu-light .ant-menu-item-selected) {
    background-color: $dark-purple;
    color: #fff;
  }
  :global(.ant-menu-item .ant-menu-title-content) {
    font-size: 1rem;
    font-weight: 500;
  }
  :global(.ant-layout-sider-trigger) {
    position: static;
    background: $sand;
    color: $dark-purple;
  }
}

.mobile_nav {
  display: none;
  div {
    padding: 0.75rem;
  }
  :global(.ant-btn) {
    font-size: 1.4rem;
    color: $purple;
  }
  @include tablet {
    display: flex;
  }
}
.active_btn {
  background-color: $dark-purple;
  color: #fff !important;
}
