@import "../modules/variables";
@import "../modules/mixin";

.ant-btn-primary {
  background: $purple;
  text-decoration: underline;
  font-weight: 500;
  &:hover {
    background: $dark-purple !important;
  }
  @include tablet {
    font-size: 12px;
  }
}
.ant-btn-link {
  color: $purple;
  font-weight: 500;
  &:hover {
    color: $dark-purple !important;
  }
}
.ant-btn.ant-btn-icon-only {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}
.ant-btn-default:hover,
.ant-btn-default:active {
  color: $dark-purple !important;
  border-color: $dark-purple !important;
}
